body{
    background-size: cover;
    background-image: linear-gradient(to right top, #b3e7a7, #7ee0b9, #45d6d0, #06c8e4, #37b6ee, #3cb6ea, #40b6e7, #45b6e3, #53c5d1, #81d0bd, #afd7b1, #d8dcb4);
  }
  a {
    text-decoration: none;
  }
  #header {
    
   width:50%;
   
    height: 110px; 
 
    float:right; 
    
    border-radius: 8px;
    opacity: 0.9;
  }
  
  ul {
  
    list-style: none;
    margin: 15px;
    float: right;
    display: flex;
  }
  .home{
    color:white;
    font-size:20px;
   font-family: 'Courier New', Courier, monospace;
  
  }
  .home:hover{
    font-weight: bold;
    font-size:25px;
    color:black;
  }

  tr:nth-child(even){
    background-color:lightgrey;
    
  }
  tr:nth-child(odd){
    background-color: white;
    
  }
  
  li,h2 {
    margin: 15px;
    padding:5px;
    font-size: larger;
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  li:hover{
    font-family: 'Baloo Tammudu 2', cursive;
    color:black;
    background-color: white;
    padding:5px;
  
  }
  #img{
    float:left;
    height:200px;
    margin:15px;
    margin-top: 1px;
    margin-right:300px;
  }
  #heading{
    
    display: flex;
    
    text-align: center;
    justify-content: center;
  
  
  
  }
  h1{
    
    font-size:75px;
    font-family: 'Amatic SC', cursive;
    color: black;
  
  }
  
  #tran{
    display: flex;
    text-align: center;
    justify-content: center;
  
  
  }
  h2{
    font-size: 60px;
  
  }
  #datab{
    height:100px;
  }
  #datab:hover{
    height:120px;
    transition: all 0.5s ease-in-out;
  
  
  }
  footer {
    background: #061D25;
    margin-bottom: 0px;
    padding:10px;
    text-align: center;
  }
  footer a {
    color: #70726F;
    font-size: 35px;
    transition: all .5s ease;
    margin:30px;
  }
  
 footer #creator:hover{
   font-weight:bold;
   font-size:15px;
 }
  footer a:hover {
    color: white;
  }
  #creator{
    font-size:13px;
    color:white;
    margin-bottom:20px;
  }
  table{
    text-align: center;
  }
  thead{
    font-size:20px;
    text-align: center;
  }
  